.containerallwrap{
    display: flex;
    align-items: center;
    justify-content: flex-start; /* prevent big spacing */
    gap: 50px;                   /* required gap */
    padding: 100px 60px;
    width: 100%;
}

/* map side will grow */
.containerallwrap > div:first-child{
    flex: 1;
}

/* right content */
.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    max-width: 500px;
    flex: 0 0 420px;  /* fixed contact width */
}
.sudarshanresort_header_line_wrapper{
    width: 100%;
}

.sudarshanresort_header_line_wrapper h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
}

.Each_content_container{
    display: flex;
    flex-direction: column;
}

.h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #242424;
}

.icon_and_p_wrapper{
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 10px;
}

.icon_and_p_wrapper p{
    color: #797979;
    font-family: 'Poppins';
    font-size: 16px;
}

.line{
    margin-top: 18px;
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
}


/* -------- Tablet -------- */

@media screen and (max-width: 992px){

.containerallwrap{
    padding: 70px 25px;
    gap: 10px; /* map and contact gap */
}

.contentWrapper{
    max-width: 420px;
}

}


/* -------- Mobile -------- */

@media screen and (max-width: 600px){

.containerallwrap{
    flex-direction: column;
    padding: 50px 20px;
    gap: 25px;
}

.contentWrapper{
    max-width: 100%;
}

}